atomicwrites
attrs
colorama
coverage
html-testRunner
importlib-metadata
Jinja2
MarkupSafe
mock
more-itertools
packaging
parameterized
pluggy
py
pyparsing
pytest
pytest-cov
pytest-html
pytest-metadata
six
wcwidth
zipp
